:root {
  --primary: #71B7C9;
  --secondary: #B1D0D8;
  --light: #FFF;
  --dark: #DBDBDB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--light);
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 100%;
  max-width: 266.664px;
  background-color: var(--light);
  border-radius: 32px;
  word-wrap: break-word;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  padding: 0;
}

.display {
  padding: 25px;
  text-align: right;
  vertical-align: bottom;
  background-color: var(--dark);
  color: #000;
  font-size: 30px;
  overflow: visible;
  font-weight: 300;
  border-radius: 32px 32px 0px 0px;
}

.display span {
  font-size: 15px;
  color: rgba(0,0,0,0.5);
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #000;
  font-size: 16px;
  padding: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.7;
}

.operators {
  display: flex;
}

.--left-corner {
  border-bottom-left-radius: 32px;
}

.--right-corner {
  border-bottom-right-radius: 32px;
}

.operators button {
  background-color: var(--primary);
  flex: 1 1 0%;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.33333%;
  background-color: var(--secondary);
  max-width: 33.33333%;
}
